= form_tag requests_path do
  .start-page
    .explanation
      OpenUp NYC is the fast, simple way to request records
      from the correct NYC department. Pick which department to send your request
      to, fill in what you're looking for, and OpenUp NYC will contact the
      right person for you. When we get a response we'll contact you. You can also track
      the progress of your request through this site.
    .steps
      

.overview{:style => "width: 100%; background-color: #F9F1D2"}
  .row{:style => "width: 960px; margin: 0 auto"}
    .description
      %span People just like you are requesting information all over the city. 
      %br
      %br
      %span Take a peak at what kinds of requests your fellow New Yorkers have made, and how your city agencies are responding
    .histogram
      %p Agencies with highest volume of requests
      -@departments.each do |dept|
        .row
          .label
            =dept.name
          .bar
            .pending
            .fulfilled
            .approved

    .six.chart
      .row
        %div#pie-chart
        %div#pie-legend
          %p 20 Percent
          %p 20 Percent          
          %p 20 Percent


       
