.list{:style => "width: 100%"}
  .row{:style => "width: 960px; margin: 0 auto"}
    .six
      .three{:style => "float: left; text-align: right; "}
        %h3 View Request Requests
        .browse-requests{:style => "color: #00A99D; width: 220px; margin-left: 100px"}
          Browse requests below by date, search by keyword or filter request by status 
      .three{:style => "float: right;    margin: 60px 60px 0;"}

        =link_to requests_path(:status => "pending") do
          .button.pending{:class => params[:status] == 'pending' ? '' : ' disabled '  }
            Pending

        =link_to requests_path(:status => "fulfilled") do
          .button.fulfilled{:class => params[:status] == 'fulfilled' ? '' : ' disabled ' }
            Fulfilled

        =link_to requests_path(:status => "denied") do
          .button.denied{:class => params[:status] == 'denied' ? '' : ' disabled ' }
            Denied

    .clear
    .six.keyword-search
      .three
      .three
        %p
          Keyword Search:
          =text_field_tag 'Keyword'
    =render :partial => "requests/search-results"
