.list{:style => "width: 100%"}
  .row{:style => "width: 960px; margin: 0 auto"}
    .six
      .three{:style => "float: left; text-align: right; "}
        %h3 View Request Requests
        .browse-requests{:style => "color: #00A99D; width: 220px; margin-left: 100px"}
          Browse requests below by date, search by keyword or filter request by status 
      .three{:style => "float: right;    margin: 60px 60px 0;"}

        .button.fulfilled.disabled
          =link_to "Fullfilled", requests_path(:status => "fullfilled")
        .button.pending
          =link_to "Pending", requests_path(:status => "pending")
        .button.denied.disabled
          =link_to "Denied", requests_path(:status => "denied")

    .clear
    .six.keyword-search
      .three
      .three
        %p
          Keyword Search:
          =text_field_tag 'Keyword'
    =render :partial => "requests/search-results"
