.view-requests
  %h3 
    &laquo; 
    =link_to 'View Recent Requests', '/requests'

  .row
    .left
      .circles
        .circle{:class => @request.status == 'pending' ? 'pending' : 'disabled'}
        .circle{:class => @request.status == 'fulfilled' ? 'fulfilled' : 'disabled'}
        .circle{:class => @request.status == 'denied' ? 'denied' : 'disabled'}
    .right
      .request-header
        .row
          %h3
            Subject
          %span
            =@request.subject
        .row
          %h3
            Department
          %span
            =@request.department.name
        .row
          %h3
            Date
          %span
            =@request.created_at
        
  .row
    .left
      %h3 Requests
    .right
      %div
        =@request.subject
        
      %div
        / %strong Body
        = @request.body
        
      / %div
      /   %strong Key
      /   = @request.response_key
        
      / %div
      /   %strong Status
      /   = @request.status

  .row
    .left
      %h3 Responses
    .right
      - if @responses.any?
        - @responses.each do |response|
          .response{style: "margin-bottom: 20px;"}
            / %div= response.status
            %div= response.body
            %div= response.created_at
      - else
        %p No responses.
  .row
    .left
      %h3
        Files
    .right
      =image_tag "document.png"