@mixin circle-icon {
  .circle {
//    background-color: #ccc;
    width: 52px;
    height: 52px;
    padding: 2px 0 0 2px;
    border-radius: 27px;
    color: #E6E6E6;
    font-size: 40px;
    font-family: 'Ostrich Sans';
    font-weight: bold;
    text-align: center;
    line-height: 54px;
    display: inline-block;
    margin: 0 4px;
    cursor: pointer;
  }
}

.requests-index{

  body.request{
    #piechart{
      z-index: 1;
    }
  }

  .show-requests{
    header{
      border-bottom: 1px solid black;
    }

  }



  .list::before{
    content: "";
    display: block;
    height: 30px;
    background-color: #EEE;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FFFFFF));
    background-image: -webkit-linear-gradient(top, #EEE, #FFFFFF);
    background-image: -moz-linear-gradient(top, #EEE, #FFFFFF);
    background-image: -o-linear-gradient(top, #EEE, #FFFFFF);
    background-image: linear-gradient(to bottom, #EEE, #FFFFFF); 
  }

  input[type=text]{
    border: 1px solid #AAA;
    padding: 0;
    margin: 0;
    width: 30%;
    font-size: 115%;
    margin: 0 10px;
    box-shadow: inset -2px 1px 7px 0px #CCC;
  }

  .keyword-search{
    color: #025B52;
    padding-right: 40px;
    text-align: right;
    text-transform: uppercase;    
  }

  .request-header{

    h3{
      float: left;
      padding-right: 20px;
      padding: 0;
      margin: 0;
    }
    .span{
      float: left;
    }

  }

  .request-table{
    
    table{
      width: 90%;
      margin: 0 auto;
      tr{
        td::first{
          width: 200px;
        }
      }
    }

    .requests-index .circles{
      padding: 0;
    }

    .label{
      float: left;
      width: 100px;
      text-transform: uppercase;
    }

    .content{
      float: left;
    }

  }


.circles {
  text-align: right;
  padding: 40px 25px 35px;
  
  .easy {
    text-transform: uppercase;
    font-family: 'Ostrich Sans';
    font-size: 22px;
    padding-bottom: 10px;
  }
  @include circle-icon  


}

}



.request-header{
  
  .row{
    margin-bottom: 10px;    
  }

  h3{
    width: 105px;
  }
  h3, span{
    float: left; 
    padding: 0 15px 0 0; 
    margin: 0 15px 0 0;

  }



}

.view-requests{
  
  width: 960px; 
  margin: 0 auto;

  min-height: 600px;


  .left{
    width: 250px;
    float: left;
    text-align: right;
    @include circle-icon;

    h3{

      padding: 0;
      margin: 0;
    }

  }
  .circles{
    float: right !important;
  }

  .right{
    width: 650px;
    float: right;
  }
}

