@font-face { font-family: "Fjord"; src: url('/assets/Fjord.ttf'); } 
@font-face { font-family: "Arvil"; src: url('/assets/Arvil.ttf'); } 
@font-face { font-family: "Ostrich Sans"; src: url('/assets/Ostrich.ttf'); } 

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700);


$blue: #00A79B;
$yellow: #D8DF21;
$red: #bf272d;
$green: #00a99d;
$shadowheight: 30px;

body {
  margin: 0;
  color: #444;
  font-family: 'Fjord';
  min-width: 900px;
  
  &.fixed-header {
    
    .start-page {
      padding-top: 155px;
    }
    
    .header {
      position: fixed;
      margin-top: -60px;

      .header-inner .logo {
       vertical-align: bottom;

       img {
         height: 80px;
         margin-bottom: -30px;
       }
      }        
    }
  } 
}

.container{
  width: 100%;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; 
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; 
  }
  ul li {
    font-size: 12px;
    list-style: square; 
  } 
}



.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  background: #e6e6e6;
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
//  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-family: 'Yanone Kaffeesatz', sans-serif;

  &:hover {
    color: #fff;
  } 

}

//.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
//  background: #e6e6e6;
//  color: #222;
//  border: 1px solid #888;
//  border-top: 1px solid #aaa;
//  border-left: 1px solid #aaa; 
//}

.button:active, button:active, input[type="submit"]:active,input[type="reset"]:active,input[type="button"]:active {
  border: 1px solid #666;
  background: #e6e6e6;
}

.button.full-width,button.full-width, input[type="submit"].full-width,input[type="reset"].full-width,input[type="button"] full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center; 
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


.button, .circle{

  font-family: "Yanone Kaffeesatz";
  color: white;
  padding: 6px 15px;
  text-transform: uppercase;
  border: 0;
  margin: 0px 4px;
  font-size: 200%;
  width: 130px;
  border-radius: 15px;
  letter-spacing: .5px;
  font-weight: 100;
  text-align: center;

  &.disabled{
   background: #ccc;
  }


  &.pending{
    background: $yellow;
  }

  &.fulfilled{
    background: $green;
  }

  &.denied{
    background: $red;
  }  

  a{
    text-decoration: none;
    color: white;
    
  }
}

.chzn-container-single {

  .chzn-single {
    background-clip: padding-box;
    background-color: white;
    background-image: -moz-linear-gradient(center top , white 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);
    border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444444;
    display: block;
    height: 35px;
    line-height: 24px;
    overflow: hidden;
    padding: 10px 0 0 15px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
  }
}


footer{
  background: url("/assets/yellowstripe.png") repeat scroll 0 0 transparent;
  z-index: 1000;
  min-height: 250px;  

  .footer{
    width: 940px;
    margin: 0 auto;
    padding: 75px;
  }

  .first, .second, .third{
    width: 300px

  }

}


.clearfix {
  clear: both;
}