%footer
  .footer
    .three.columns.first
      %a{:href => root_path}
        .logo
          =image_tag ('logo.png')

    .three.columns.second
      %p.summary
        OpenUp NYC is a fast, simple way to request these records from the correct NYC department
      %p.contact
        contact@openupnyc.com
      .social
        .twitter
        .facebook
        .rss
    .three.columns.third








